.title {
    font-family: 'Gentium Book Plus', serif;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
.profileFormGroup {
    font-family: 'Gentium Book Plus', serif;
    margin: 4vh;
}
.button-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}